In [104]:
import numpy as np
import pandas as pd
df = pd.read_csv('Age-Income-Dataset.csv')
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [105]:
# without Using Function 
def mean(x):
 y = sum(x)/len(x)
 return y
mean(df['Income'])
mean=mean(df['Income'])

In [106]:
# with using Function 
df["Income"].mean()

50966.0

In [107]:
#median Without Using Function 
sorted_data = sorted(df["Income"])
count = len(sorted_data)
if(count%2==0):
    #even
    median = (sorted_data[(count//2)-1] + sorted_data[(count//2)]) / 2
else:
    median = sorted_data[(count//2)-1]
median

46850.0

In [108]:
#with using Function 
df["Income"].median()

46850.0

In [109]:
# Min without Library function 
min = df["Income"][0]
for i in df["Income"]:
    if i < min:
        min = i

min

15000

In [112]:
# with Library Function 
df["Income"].min()
df["Income"].std()

15000

In [76]:
max = df["Income"][0]
for i in df["Income"]:
    if i > max:
        max = i

max

93000

In [77]:
std_dev_sum = 0
for i in df["Income"]:
    std_dev_sum += (i-mean)*(i-mean)
std_dev = (std_dev_sum/(count-1))**0.5
std_dev

21096.683267707253

In [115]:
# Calculate summary statistics of income grouped by age groups
summary_stats = df.groupby('Age')['Income'].describe()
summary_stats

,count,mean,std,min,25%,50%,75%,max
Age,,,,,,,,
Middle Age,15.0,52453.333333,20497.800114,25600.0,36900.0,53200.0,61200.0,93000.0
Old,19.0,53942.105263,20868.165968,24500.0,38700.0,45300.0,71400.0,89700.0
Young,16.0,46037.500000,22356.859499,15000.0,28750.0,41500.0,65850.0,87000.0